push graphic-context
fill '#f7f4ed'
stroke none
rectangle 0,0 738,4608
stroke '#d9d1c5'
stroke-width 3
line 738,0 738,4608
stroke none

font '/System/Library/Fonts/Supplemental/Songti.ttc'
font-size 111
font-weight 600
fill '#211d1a'
text 57,162 '角色参考图'

font '/System/Library/Fonts/Hiragino Sans GB.ttc'
font-size 38
font-weight 400
fill '#5f5952'
text 60,249 '同一个她 · 多面的真实'
stroke '#b8ac9d'
stroke-width 3
line 57,285 675,285
stroke none

fill '#e8e2d8'
roundrectangle 42,327 696,429 6,6
font '/System/Library/Fonts/Supplemental/Songti.ttc'
font-size 54
fill '#2c2824'
text 72,398 '基本设定'

font '/System/Library/Fonts/Hiragino Sans GB.ttc'
font-size 38
font-weight 400
fill '#24211f'
text 63,516 '姓名：{{CHARACTER_NAME}}'
text 63,588 '年龄：{{AGE}}'
text 63,660 '身份：{{OCCUPATION}}'
text 63,732 '性格：{{PERSONALITY_LINE_1}}'
text 183,795 '{{PERSONALITY_LINE_2}}'
text 63,876 '脸部轮廓：{{FACE_SHAPE}}'
text 63,939 '眼睛形状：{{EYES}}'
text 63,1002 '眉毛形状：{{BROWS}}'
text 63,1065 '鼻子特征：{{NOSE}}'
text 63,1128 '嘴唇特征：{{LIPS}}'
text 63,1191 '头发：{{HAIR}}'
text 63,1254 '肤色与质感：{{SKIN}}'
text 63,1317 '身高感：{{HEIGHT}}'
text 63,1380 '体型：{{BODY}}'
text 63,1452 '基本服装：{{BASE_OUTFIT_LINE_1}}'
text 183,1515 '{{BASE_OUTFIT_LINE_2}}'

stroke '#c9bfb2'
stroke-width 3
line 63,1602 668,1602
stroke none
font '/System/Library/Fonts/Supplemental/Songti.ttc'
font-size 57
fill '#514a43'
text 63,1710 '{{QUOTE_LINE_1}}'
font-size 48
fill '#6d655d'
text 63,1788 '{{QUOTE_LINE_2}}'

font '/System/Library/Fonts/Hiragino Sans GB.ttc'
font-size 30
fill '#9c9185'
text 63,1928 '{{KEYWORDS}}'

font '/System/Library/Fonts/Supplemental/Songti.ttc'
font-size 81
fill '#39342f'
text 63,4290 '{{CHARACTER_NAME}}'
font '/System/Library/Fonts/Hiragino Sans GB.ttc'
font-size 30
fill '#81786f'
text 63,4365 '{{ROMANIZED_NAME}}'
font-size 33
fill '#8e857b'
text 63,4485 'PAGE 01 · 人物设定与表情'
pop graphic-context
